@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

header {
  width: 100%;
}
header .banner {
  height: 25px;
  background-color: #0382f9;
}
header nav {
  padding: 20px 0;
}
header nav .content {
  display: flex;
  justify-content: space-between;
}
header nav .logo {
  width: 90px;
}
header nav .menu {
  display: flex;
  align-items: center;
}
header nav .menu li {
  padding: 0 30px;
}
header nav .menu a {
  text-decoration: none;
  font-size: 18px;
  color: #3a352f;
  font-weight: bold;
}
header .jumbotron {
  height: 500px;
  width: 100%;
  background-image: url("../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background-color: #1c1c1c;
}
main h2 {
  color: white;
  background-color: #0382f9;
  padding: 10px;
  display: inline-block;
  position: relative;
  top: -25px;
}
main .magazines {
  display: flex;
  flex-wrap: wrap;
}
main .magazines .single-magazine {
  width: calc(16.6666666667% - 10px);
  margin: 5px;
}
main .magazines .single-magazine h3 {
  color: white;
}
main .load-more {
  text-align: center;
  padding: 20px;
}
main .load-more .button {
  color: white;
  background-color: #0382f9;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}
main .banner-service {
  background-color: #0382f9;
}
main .banner-service ul {
  display: flex;
  justify-content: center;
}
main .banner-service ul li {
  display: flex;
  align-items: center;
  margin-right: 50px;
  color: white;
}
main .banner-service ul li img {
  width: 50px;
  margin: 40px 20px;
}

footer {
  width: 100%;
}
footer .footer-links {
  height: 400px;
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-links .content {
  display: flex;
}
footer .footer-links .content .links {
  margin-right: 50px;
}
footer .footer-links .content .links h3 {
  padding-top: 20px;
  color: white;
}
footer .footer-links .content .links li {
  margin: 10px 0;
}
footer .footer-links .content .links li a {
  text-decoration: none;
  color: grey;
}
footer .footer-banner {
  background-color: #303030;
}
footer .footer-banner .content {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-banner .content .button {
  font-size: 20px;
  color: white;
  border: 2px solid #0382f9;
  padding: 10px;
}
footer .footer-banner .content .follow-media {
  display: flex;
  align-items: center;
}
footer .footer-banner .content .follow-media span {
  color: #0382f9;
  font-size: 20px;
  font-weight: bold;
}
footer .footer-banner .content .follow-media ul {
  display: flex;
}
footer .footer-banner .content .follow-media ul li {
  padding: 0 10px;
}