@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

header {
  width: 100%;
}
header .banner {
  height: 25px;
  background-color: #0382f9;
}
header nav {
  padding: 20px 0;
}
header nav .content {
  display: flex;
  justify-content: space-between;
}
header nav .logo {
  width: 90px;
}
header nav .menu {
  display: flex;
  align-items: center;
}
header nav .menu li {
  padding: 0 30px;
}
header nav .menu a {
  text-decoration: none;
  font-size: 18px;
  color: #3a352f;
  font-weight: bold;
}
header .jumbotron {
  height: 500px;
  width: 100%;
  background-image: url("../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background-color: #1c1c1c;
}
main h2 {
  color: white;
  background-color: #0382f9;
  padding: 10px;
  display: inline-block;
  position: relative;
  top: -25px;
}
main .magazines {
  display: flex;
  flex-wrap: wrap;
}
main .magazines .single-magazine {
  width: calc(16.6666666667% - 10px);
  margin: 5px;
}
main .magazines .single-magazine h3 {
  color: white;
}