footer {
    width: 100%;

    .footer-links {
        height: 400px;

        background-image: url("../images/footer-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        .content {
            display: flex;

            .links {
                margin-right: 50px;

                h3 {
                    padding-top: 20px;
                    color: white;
                }
                li {
                    margin: 10px 0;

                    a {
                        text-decoration: none;
                        color: grey; 
                    }
                }
            }
        }
    }

    .footer-banner {
        background-color: #303030;
        
        .content {
            height: 130px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .button {
                font-size: 20px;
                color: white;
                border: 2px solid $primary_color;
                padding: 10px;
            }

            .follow-media {
                display: flex;
                align-items: center;
                
                span {
                    color: $primary_color;
                    font-size: 20px;
                    font-weight: bold;
                }

                ul {
                    display: flex;

                    li {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}