header {
    width: 100%;

    .banner {
        height: 25px;
        background-color: $primary_color;
    }

    nav {
        padding: 20px 0;

        .content {
            display: flex;
            justify-content: space-between;
        }

        .logo {
            width: 90px;
        }

        .menu {
            display: flex;
            align-items: center;

            li {
                padding: 0 30px;
            }
            a {
                text-decoration: none;
                font-size: 18px;
                color: #3a352f;
                font-weight: bold;
            }
        }
    }

    .jumbotron {
        height: 500px;
        width: 100%;
        background-image: url("../images/jumbotron.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}