main {
    &.bgc-grey {
        background-color: $secondary_color; 
    }
    // background-color: $secondary_color;

    h2 {
        color: white;
        background-color: $primary_color;
        padding: 10px;
        display: inline-block;
        position: relative;
        top: -25px
    }

    .magazines {
        display: flex;
        flex-wrap: wrap;

        .single-magazine {
            width: calc( (100% / 6) - 10px );
            margin: 5px;

            h3 {
                color: white;
            }
        }
    }

    .load-more {
        text-align: center;
        padding: 20px;

        .button {
            color: white;
            background-color: $primary_color;
            display: inline-block;
            padding: 10px 20px;
            cursor: pointer;
        }
    }

    .banner-service {
        background-color: $primary_color;

        ul {
            display: flex;
            justify-content: center;

            li {
                display: flex;
                align-items: center;
                margin-right: 50px;
                color: white;

                img {
                    width: 50px;
                    margin: 40px 20px;
                }
            }
        }
    }


    // Single Magazine
    .banner-blue {
        height: 80px;
        background-color: $primary_color;

        .thumb-magazine {
            position: relative;
            top: -250px;
            display: inline-block;
            border: 1px solid white;
            text-align: center;
            background-color: #01a9d9;

            h5 {
                color: white;
            }
        }
    }
}